<ruleset name="SymfonyJsonSchemaForm">
    <description>symfony-json-schema-form coding standard.</description>

    <arg value="p"/>
    <arg name="colors"/>
    <arg name="encoding" value="utf-8"/>
    <arg name="extensions" value="php"/>

    <exclude-pattern>vendor/</exclude-pattern>
    <exclude-pattern>Resources/</exclude-pattern>

    <rule ref="PSR2">
        <exclude name="PSR2.Methods.MethodDeclaration.Underscore"/>
        <exclude name="Generic.Files.LineLength.TooLong"/>
    </rule>

    <rule ref="Generic.Files.LineLength">
        <properties>
            <property name="lineLimit" value="120"/>
            <property name="absoluteLineLimit" value="0"/>
        </properties>
    </rule>

</ruleset>